@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

@media screen and (max-width:576px) {

  .menu,
  .Home {
    display: none;
  }

  nav,
  .habit,
  .banner-text,
  .banner-image,
  .run-text,
  .partner,
  .team{
    width: 100%;
  }

  .run,
  .run-text,
  .run-image{
    width:90%;
  }

  .ham {
    display: block;
    color: white;
  }

  .banner {
    flex-direction: column;
    width: 100%;
    justify-content: left;
    align-items: left;
    gap: 20px;
  }

  .banner-title {
    font-size: 3.25rem;
  }

  .banner>div {
    width: 80%;
  }


  .habit-title,
  .habit-des,
  .card {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }


  /* .habit-title {
    width: 90%;
  } */

  .card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;

  }

  .run {
    flex-direction: column;
    gap: 30px;
    padding: 15px;
  }

  .run-title,
  .run-des {
    padding-right: 0;
  }


  .cal-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cal-info,
  .cal-chart,
  .cal-form,
  .form-des {
    width: 70%;
  }

  .cell{
    padding-left: 5px;
    padding-right: 5px;
  }



  .cal-title,
  .cal-des,
  .chart,
  .chart-title{
    padding-left: 0;
    padding-right: 0;
  }

  .cal-title,
  .cal-des,
  .chart-title,
  .form-title,
  .form-des {
    text-align: left;
  }

  .team-container{
    grid-template-columns: repeat(1,1fr);
  }

  .team-container,
  .team-des{
     width:90%;
     margin:auto;
  }

  .p-title,.p-des{
    width: 90%;
    color: rgba(0, 0, 0, 0.418);
  }

  .p-container{
    grid-template-columns: repeat(3,100px);
    gap:10px;
  }


}